<footer mb-3rem>
  <p mt-4 text-xs>
    <a b-slate-link href="https://qqtwy7hnjz.feishu.cn/docx/CGvtdcwjHoWos9xGmQTcstsinBe" target="_blank">我的飞书个人介绍</a>
    <span px-1 select-none>|</span>
    <a b-slate-link href="https://www.yuque.com/pengliwei" target="_blank">我的语雀个人介绍</a>
    <span px-1 select-none>|</span>
    <a b-slate-link href="https://zscc2022.feishu.cn/base/XTjMbsd04a4w3tsGJ94cSHHrnof" target="_blank">我的AI提示词文档</a>
  </p>
</footer>
