---
import Logo from './Logo.astro'
import Themetoggle from './Themetoggle.astro';
---

<header>
  <div class="fb items-center flex-row mt-6rem">
    <div class="fi">
      <a href="." onclick="return false" mr-1 select-none transition-all flex gap-2>
        <Logo />
        <span class="gpt-subtitle dark:filter-sepia ml-1">Free</span>
        <span class="gpt-title dark:gpt-subtitle dark:filter-invert">Chat</span>
      </a>
    </div>
    <div class="flex">
      <Themetoggle />
    </div>
  </div>
</header>
